@use "global" as *;

.breadcrumb {
  font-size: rem(14);
  }

.breadcrumb.breadcrumb--white {
  color: $white;
}

  .breadcrumb-list {
    display: flex;
  }
  
  .breadcrumb-item span{
    padding: 0 rem(8);
	
  }
  .breadcrumb-item:first-child{
    text-transform: uppercase;
  }