@use "global" as *;

.breadcrumb {
  font-size: rem(14);
  letter-spacing: rem(-0.5);

  @include mq('md'){
    letter-spacing: rem(-0.8);
  }
  }

.breadcrumb.breadcrumb--white {
  color: $white;
}

  .breadcrumb-list {
    display: flex;
  }

  .breadcrumb-item span{
    padding: 0 rem(8);
  }

  .breadcrumb-item:first-child{
    text-transform: uppercase;
  }