@use "global" as *;

.c-campaign-category{
    display: flex;
    max-width: rem(164);
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: center;
    border: 1px solid $green;
    font-size: rem(14);
    color: $green;
    background-color: $white;
    text-transform: uppercase;
}

.c-campaign-category--active{
    background:$green;
    color: $white;
    transition : all 0.3s ease 0s;
}

@media (hover: hover) {
	/* hover指定できるPCを想定したスタイル */
	.c-campaign-category:hover{
        background:$green;
        color: $white;
        transition : all 0.3s ease 0s;
        opacity: 1;
    }

	}
	@media (hover: none) {
	/* hoverが使えないタッチ端末を想定した装飾 */
    .c-campaign-category:active{
        background:$green;
        color: $white;
        transition : all 0.3s ease 0s;
        opacity: 1;
    }
}