@use "global" as *;

.c-campaign-category{
    display: flex;
    max-width: rem(164);
    width: 100%;
    height: rem(32);
    align-items: center;
    justify-content: center;
    border: 1px solid $green;
    font-size: rem(14);
    color: $green;
    text-transform: uppercase;
}

.c-campaign-category:hover{
    background:$green;
    color: $white;
    transition : all 0.3s ease 0s;
    opacity: 1;
}

.c-campaign-category--active{
    background:$green;
    color: $white;
    transition : all 0.3s ease 0s; 
}
