@use "global" as *;

.c-img-starfish {
    mask-image: url(../../assets/images/common/starfish.png);
	mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color:$white;
	width: rem(18);
	height: rem(18);
	top: rem(12);
	left: rem(-24);
}

.c-img-starfish--black{
    background-color:$black;
}

.c-img-starfish--white{
    background-color:$white;
}

.c-img-starfish--green{
    background-color:$green;
}