@use "global" as *;

.c-img-seahorse{
	display: none;

	@include mq(md){
	display: block;
	mask-image: url(../../../assets/images/common/seahorse.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: $green;
    width: rem(71);
	height: rem(162);
	}
}