@use "global" as *;

.c-img-fish{
mask-image: url(../../../assets/images/common/goldfish.svg);
mask-repeat: no-repeat;
mask-position: center;
mask-size: contain;
background-color: $green;
width: rem(120);
height: rem(55);

@include mq(md){
	width: rem(308);
	height: rem(138);
}
}

.c-img-fish--reverse{
	transform: scaleX(-1);
}

.c-img-fish--white{
	display: none;

	@include mq(md){
	display: block;
    background-color: $light-green;
	width: rem(437);
	height: rem(201);
	}
}

.c-img-fish--large{
	display: none;

	@include mq(md){
	display: block;
    width: rem(437);
	height: rem(201);
	}
}