@use "global" as *;


.c-pagination {
	text-align: center;
}

.nav-links {
	justify-content: center;
	display: flex;

}

.page-numbers,
.nav-previous,
.nav-next
{
	display: flex;
	align-items: center;
    justify-content: center;
	font-family: $english-second-font-family;
	width: rem(38);
	height: rem(38);
	text-align: center;
	cursor: pointer;
	margin: 0 rem(6);
	border: 1px solid $green;
	text-decoration: none;
	aspect-ratio: 1/1;
	color: $green;
	transition: 0.3s background-color, 0.3s color;
}

.page-numbers.current {
	background-color: $green;
	color: $white;
	cursor: default;
    }

.prev.page-numbers,
.next.page-numbers,
.nav-previous,
.nav-next
{
	margin: 0 rem(34);
	color:transparent;
}

.prev.page-numbers span,
.next.page-numbers span,
.nav-previous span,
.nav-next span
{
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: $green;
    width: rem(8);
    height: rem(16);
	display: inline-block;
}

.prev.page-numbers span,
.nav-previous span
{
	mask-image: url(../../assets/images/common/prev.svg);
}

.next.page-numbers span,
.nav-next span
{
	mask-image: url(../../assets/images/common/next.svg);
}

@media (hover: hover) {
	/* hover指定できるPCを想定したスタイル */
	.page-numbers:hover,
	.nav-previous:hover,
	.nav-next:hover {
		background-color: $green;
		color: $white;
		opacity: 1;
		}
	.prev.page-numbers:hover span,
	.next.page-numbers:hover span,
	.nav-previous:hover span,
	.nav-next:hover span{
		background-color: $white;
}

	}
	@media (hover: none) {
	/* hoverが使えないタッチ端末を想定した装飾 */
	.page-numbers:active,
	.nav-previous:active,
	.nav-next:active{
		background-color: $green;
		color: $white;
		opacity: 1;
		}
	.prev.page-numbers:active span,
	.next.page-numbers:active span,
	.nav-previous:hover span,
	.nav-next:hover span{
		background-color: $white;
	}
}