@use "global" as *;

.c-sidebar-title{
    font-size: rem(24);
    font-weight: $normal;
    border-left: rem(8) solid $green;
    padding-left:rem(74);
    height: rem(50);
    display: flex;
    align-items: center;
    position: relative;

    @include mq('md'){
        padding-left:rem(82);
    }
}

.c-sidebar-title::before {
    position: absolute;
    content: "";
    mask-image: url(../../../assets/images/common/icon-whale.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: $font-color;
    width: rem(50);
    height: inherit;
    top:50%;
    left: rem(16);
    transform: translateY(-50%);
  }