@use "global" as *;


.c-title {
  text-align: center;
  display: inline-block;
  padding: 0 rem(10);
}


.c-title__en{
  font-family: $english-font-family;
  font-size: rem(32);
  font-weight: $normal;

  @include mq(md) {
    font-size: rem(40);
  }
}

.c-title h2{
  color: $font-color; 
  display: inline-block;
}

.c-title--white h2{
  @include mq('md'){
    color: $white;
  }
}

.c-title h2:first-letter{
  color:$green;
  text-transform: uppercase;
}

.c-title--large h2{
    font-size: rem(80);
    line-height: 1;
}

.c-title--white h2:first-letter{
  @include mq('md'){
    color: $light-green;
  }
} 

.c-title__ja{
  font-family: $base-font-family;
  font-size: rem(12);

}

.c-title p{
  color: $green;
}


.c-title--white p{
  @include mq('md'){
    color: $white;
  }
}