<div class="p-footer">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__head">
      <div class="p-footer__logo">
        <%- include(ejsPath + './component/_c-logo', { type: '', logo: 'large'
        }) %>
      </div>
      <div class="p-footer__sns">
        <img src="./assets/images/common/icon-facebook.png" alt="フェイスブック" />
        <img src="./assets/images/common/icon-instaglam.png" alt="インスタグラム" />
      </div>
    </div>
    <div class="p-footer__contents">
      <%- include(ejsPath + './project/_p-contents', { section: 'footer',
      color:'white' }) %>
    </div>
    <div class="p-footer__copy">
      <small class="p-footer__copyright"
      >&copy;&ensp;2021&ensp;-&ensp;2023&ensp;code<span>u</span>ps&ensp;<span>llc.&ensp;all&ensp;</span>rights&ensp;reserved.</small>
    </div>
  </div>
</div>


