@use "global" as *;
.p-aboutus-section{
	position: relative;
}

.p-aboutus-section__inner{
	}

.p-aboutus-section__coral{
	@include mq('md'){
		width: rem(194);
		height: rem(181);
		position: absolute;
		bottom: rem(-90);
		right: clamp(rem(15), 50% - rem(637),50% - rem(637));
	}
}

.p-aboutus-section__title{
	text-align: center;

}
.p-aboutus-section__main {
	margin-top: rem(24);
	@include mq(md) {
		margin-top: rem(40);
	}
}




