@use "global" as *;

.p-aboutus-section{
	width: 100%;
}

.p-aboutus-section__inner{
	position: relative;
	margin: 0 auto;
	max-width: rem(540);
	height: inherit;
	padding-right: $padding-sp;
	padding-left: $padding-sp;
	@include mq(md) {
		max-width: rem(1210);
		padding-right: $padding-pc;
		padding-left: $padding-pc ;
	}	
	
	}

.p-aboutus-section__coral{
	@include mq('md'){
		width: rem(194);
		height: rem(181);
		position: absolute;
		bottom: rem(-50);
		right: rem(-50);
	}
	@media (max-width: 1210px) {
		right: 0;
	}
}

.p-aboutus-section__title{
	text-align: center;
}
.p-aboutus-section__main {
	margin-top: rem(24);
	@include mq(md) {
		margin-top: rem(40);
	}
}




