@use "global" as *;

.p-archive-voices-section__inner {
    position: relative;
}

.p-archive-voices-section__category{
}

.p-archive-voices-section__content {
    margin-top: rem(40);
}

.p-archive-voices-section__fish {
    position: absolute;
    left: calc(50% - rem(624));
    z-index: -1;
    top:rem(-70);
    @media (max-width: 1280px) {
        left: rem(25);
        top: rem(-70);
    }
    @media (max-width: 768px) {
        left: rem(15);
        top: rem(-24);
    }
}