@use "global" as *;

.p-archiveCampaign-section {
    position: relative;

}

.p-archiveCampaign-section__content {
    margin-top: rem(40);
}

.p-archiveCampaign-section__pagination {
    margin-top: rem(79);
    @include mq(md){
        margin-top: rem(80);
    }
}

.p-archiveCampaign-section__fish {
    position: absolute;
    left: clamp(rem(15), 50% - rem(320),50% - rem(250));
    top:rem(-24);
    z-index: -1;
    @include mq('md'){
        left: clamp(rem(15), 50% - rem(624),50% - rem(624));
        top:rem(-70);
    }
}