@use "global" as *;

.p-archiveVoices-section{
    position: relative;
}

.p-archiveVoices-section__content {
    margin-top: rem(39);
}

.p-archiveVoices-section__pagination{
    margin-top: rem(79);
    @include mq(md){
        margin-top: rem(80);
    }
}

.p-archiveVoices-section__fish {
    position: absolute;
    left: calc(50% - min(48%,rem(320)));
    top:rem(-24);
    z-index: -1;
    @include mq('md'){
        left: calc(50% - min(48%,rem(624)));
        top:rem(-70);
    }
}