@use "global" as *;

.p-blog-card{
	display: flex;
	padding:rem(18) rem(17) rem(24) rem(16);
	box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
	background: $white;
	text-align: left;
	flex-direction: column;
	height: 100%;
	@include mq(md){
	padding:rem(16) rem(17) rem(24) rem(16);
	}
}

.p-blog-card__img{
	overflow: hidden;
	aspect-ratio: 301 / 201 ;

}

.p-blog-card__img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: transform .6s ease;

}

.p-blog-card__body{
	margin-top: rem(18);
	margin-bottom: 0;
	position: relative;
}

.p-blog-card__date{
	font-family: $english-font-family;
	font-size: rem(12);
	line-height: calc(18 / 12);
}

.p-blog-card__titleBox{
	border-bottom: 1px solid #408F95;
	margin: 0;
}

.p-blog-card__title{
	font-size: rem(16);
	font-weight: 500;
	line-height: 1.8;
	@include mq(md){
	line-height: 1.6;

	}
}

.p-blog-card__text{
	margin-top: rem(16);
	line-height: calc(24 / 16);
}


@media (hover: hover) {
	/* hover指定できるPCを想定したスタイル */
	.p-blog-card:hover{
		opacity: 1;
	}

	.p-blog-card:hover .p-blog-card__img img{
		transform: scale(1.4);
	}

	}
	@media (hover: none) {
	/* hoverが使えないタッチ端末を想定した装飾 */
    .p-blog-card:active{
		opacity: 1;
	}

	.p-blog-card:active .p-blog-card__img img{
		transform: scale(1.4);
	}
}