@use "global" as *;

.p-contact-section {
	width: 100%;
	background-color: $white;
	position: relative;
}

.p-contact-section__inner{
}

.p-contact-section__container {
	display: block;
	@include mq(md){
		display: flex;
		box-shadow: rem(4) rem(4) rem(10) rgba($color: #000000, $alpha: 0.25);
	}
}

.p-contact-section__head {
	text-align: center;
	padding: 0 rem(25);
	width: 100%;
	@include mq(md){
		width: 52.963%;
		margin-top: rem(80);
		margin-bottom: rem(80);
		padding-right: rem(30);
		padding-left: rem(30);
		border-right: 1px solid $green;
	}
	@include mq(lg){
		padding-left: rem(50);
		padding-right: rem(82);
	}
}

.p-contact-section__logo {
	display: flex;
    justify-content: center;
    align-items: center;
}

.p-contact-section__access {
	display: block;
	border-top: 1px solid $green;
	padding-top: rem(16);
	margin-top: rem(6);
	@include mq(md){
		display: flex;
		justify-content: space-between;
		padding-top: rem(24);
		margin-top: rem(7);
	}
}

.p-contact-section__address {
	text-align: center;
	@include mq(md){
		text-align: start;
		width: 34%;
	}
}

.p-contact-section__addressText{
	font-family: $english-second-font-family;
	line-height: calc(24/16);
}

.p-contact-section__addressText + .p-contact-section__addressText{
	margin-top: rem(4);
}

.p-contact-section__map{
	width: 100%;
	margin-top: rem(16);
	overflow: hidden;
	@include mq(md){
		width: 62%;
		margin-top: 0;
	}
}

.iframe-wrap {
	position: relative;
	width: 100%;
	padding-top: 54.212%;
  }

  .iframe-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }

.p-contact-section__body {
	text-align: center;
	padding: 0 rem(15);
	margin-top: rem(40);
	@include mq(md){
		width: 47.037%;
		margin-top: rem(100);
		margin-bottom: rem(100);
		padding-right: rem(112);
		padding-left: rem(81);
	}
}

.p-contact-section__contactText {
	color: $green;
	font-size: rem(14);
	line-height: calc(18/14);
	margin-top: rem(8);
	@include mq(md){
		margin-top: rem(4);
	}
}

.p-contact-section__btn {
	margin-top: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-contact-section__fish {
	position: absolute;
    right: clamp(rem(15), 50% - rem(290),50% - rem(220));
    top: rem(-27);
	@include mq(md){
	right: clamp(rem(15), 50% - rem(670),50% - rem(670));
    top: rem(-40);
	}
}


