@use "global" as *;

.p-campaign-section__title {
    text-align: center;
}

.p-campaign-section__wrapper {
    position: relative;
    margin-top: rem(28);
    margin-right: calc(50% - 50vw);
    @include mq(md){
        margin-top: rem(40);

    }
}

.p-campaign-section__wrapper .p-campaign-section__swiper{
    padding-bottom: rem(12);
    overflow: hidden;
}

.p-campaign-section__item {
    width: rem(286);
    height: rem(366);
    @include mq(md){
        width: rem(335);
        height: rem(445);
    }
}

.p-campaign-section__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-campaign-section__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(26);
    padding-bottom: rem(3);
    @include mq(md){
        margin-top: rem(67);
    }
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev:after,
.swiper-button-next:after {
    bottom: 0;
    content: "";
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 0;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    @include mq(md) {
    display: block;
    position: absolute;
    border: 1px solid $green;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s;
    width: rem(80);
    height: rem(80);
    top:-19%;
    }
}

/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
    position: absolute;
    content: "";
    mask-image: url(../../../assets/images/common/arrow.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: $green;
    width: rem(28);
    height: rem(6);
    left: 50%;
    transform: translateX(-50%) rotate(180deg) scaleY(-1);
    transition: background-color 0.3s;
    @include mq(md) {
    width: rem(42);
    height: rem(7);
    }
}
/* 前への矢印 */

@media (max-width: 1150px) {
    .swiper-button-prev {
        left: 70%;
    }
}

    .swiper-button-prev{
        @include mq(lg){
            left: calc(50% + rem(210));
            }
    }

/* 次への矢印カスタマイズ */
.swiper-button-next:after {
    position: absolute;
    content: "";
    mask-image: url(../../../assets/images/common/arrow.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: $green;
    width: rem(28);
    height: rem(6);
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s;
    @include mq(md) {
    width: rem(42);
    height: rem(7);
    }
}

@media (max-width: 1150px) {
    .swiper-button-next {
        left: 85%;
    }
}

/* 次への矢印 */
.swiper-button-next {
    @include mq(lg){
        left: calc( 50% + rem(370) );
    }
}

/* 画像サイズ調整 */
.swiper-slide img {
    height: 100%;
    object-fit: cover;
}
