@use "global" as *;

.p-contents--footer{
	background-color: $green;
	color: $white;
}

.p-contents__container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap:13.5%;
	grid-row-gap:0;
	grid-auto-flow: column;
	padding-left: rem(22);
	@include mq('md'){
		display: flex;
		gap:0;
		justify-content: space-between;
		padding-left: rem(20);
	}
}

.p-contents__container {
	align-items: flex-start;//これを上のクラス内に入れると表示崩れる
}

.p-contents__items{
	@include mq('md'){
		width: 22%;
	}
}

.p-contents__items--sitemap {
	@include mq('md'){
		width: 15%;
	}
}

.p-contents__item {
	line-height: calc(18/16);
	display: block;
    width: 100%;
    transition: opacity 0.3s;
	margin-top: rem(16);
	position: relative;
	white-space: nowrap;
}

.p-contents__item:first-of-type{
	margin-top:0;
	@include mq('md'){
		margin-top:0;
	}
}
.p-contents__item:nth-child(n + 2){
	margin-top:rem(12);
	@include mq('md'){
		margin-top: rem(16);
	}
}

.p-contents__lists{
	margin-bottom: rem(20) ;
}

.p-contents__list {
	padding: rem(12) 0;
	display: block;
	line-height: calc(18 / 16);
}

.p-contents__title {
	font-weight: $bold;
	cursor: pointer;
	display: inline-block;
	padding: rem(12) 0;
	width: 100%;
}

.p-contents__title--white::before,
.p-contents__title--black::before{
	position: absolute;
	content: "";
	mask-image: url(../../assets/images/common/starfish.png);
	mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
	width: rem(18);
	height: rem(18);
	top: rem(10);
	left: rem(-24);
}

.p-contents__title--white::before{
	background-color: $white;
}

.p-contents__title--black::before{
	background-color: $font-color;
}