@use "global" as *;

.p-faq-section{
    position: relative;
}

.p-faq-section__content {
    width: 100%;
    max-width: rem(700);
    margin: auto;
}

.p-faq-section__fish {
    position: absolute;
    left: clamp(rem(15), 50% - rem(320),50% - rem(250));
    top:rem(-24);
    z-index: -1;
    @include mq('md'){
        left: clamp(rem(15), 50% - rem(624),50% - rem(624));
        top:rem(-70);
    }
}

