@use "global" as *;

.p-footer {
	background-color: $green;
	color: $white;
	padding-top: rem(48);
	padding-bottom: rem(56);
	@include mq('md'){
		padding-top: rem(80);
	}
}

.p-footer__head{
	@include mq('md'){
		display: flex;
	}
}

.p-footer__logo{
	@include mq('md'){
		margin-right: rem(40);
	}
}

.p-footer__sns{
	display: flex;
	gap: rem(25);
	margin-top: rem(21);
	@include mq('md'){
		gap: rem(24);
		margin-top: rem(44);
	}
}

.p-footer__sns img{
	width:rem(18);
	height: rem(18);
	@include mq('md'){
		width:rem(26);
		height: rem(26);
	}
}

.p-footer__contents{
	margin-top: rem(32);

	@include mq('md'){
		margin-top: rem(15);
	}
}



.p-footer__copy{
	margin-top: rem(14);
	text-align: center;
	@include mq('md'){
		margin-top: rem(44);
	}
}

.p-footer__copyright{
	text-transform:  capitalize;
	font-family: $english-font-family;
	font-size: rem(12);
	letter-spacing: -0.04em;
	@include mq('md'){
		font-size: rem(14);
	}
}


.p-footer__copyright span{
    text-transform: uppercase;
}
