@use "global" as *;

.p-gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background: rgba(32, 32, 32, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s , visibility 0.3s;
    overscroll-behavior-y: contain;
}

.p-gallery-modal__content {
    height: 76.30%;
    padding: rem(15);
    @include mq(md){
        padding: rem(25);
    }
}

.p-gallery-modal.is-open{
    visibility: visible;
    opacity: 1;
}

.p-gallery-modal__content img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.p-gallery-modal.is-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.modal-open {
    overflow: hidden;
}

.modal-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}