@use "global" as *;

.p-home-section__inner {
    position: relative;

}

.p-home-section__pagination {
    margin-top: rem(80);
}

.p-home-section__fish {
    position: absolute;
    left: calc(50% - rem(432));
    z-index: -1;
    top:rem(-70);
    @media (max-width: 1280px) {
        left: rem(25);
        top: rem(-70);
    }
    @media (max-width: 768px) {
        left: rem(15);
        top: rem(-24);
    }
}