@use "global" as *;

.p-home-container{
    position: relative;
}

.p-home-container__fish {
    position: absolute;
	left: clamp(rem(15), 50% - rem(250),50% - rem(250));
    z-index:30;
    top:rem(-24);

    @include mq('md'){
        left: clamp(15px, 50% - rem(624),50% - rem(624));
        top:rem(-70);
    }
}

