@use "global" as *;

.p-lower-campaignCard{
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: rem(4) rem(4) rem(10) rgba($color: #000000, $alpha: 0.25);
}

.p-lower-campaignCard__img {
    aspect-ratio: 280/188;
    overflow: hidden;
    @include mq(md){
        aspect-ratio: 333/223;
    }
}

.p-lower-campaignCard__img img{
    height: 100%;
    object-fit: cover;
}

.p-lower-campaignCard__head {
    padding-top: rem(16);
    padding-bottom: rem(8);
    margin: 0 rem(16);
    position: relative;
    @include mq(md){
    padding-top: rem(22);
    padding-bottom: rem(4);
    margin: 0 rem(24);
    }
}

.p-lower-campaignCard__tag {
    display: inline-block;
    color: $green;
    border: 1px solid $green;
    font-size: rem(12);
    padding: rem(8) rem(12);
    line-height: 1;
    @include mq(md){
        padding: rem(10) rem(15);
    }
}

.p-lower-campaignCard__title {
    line-height: calc(24/16);
    font-weight: $medium;
    margin-top: rem(4);
    @include mq(md){
        font-size: rem(24);
        line-height: calc(35/24);
    }
}

.p-lower-campaignCard__border{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $green;
    bottom: 0;
    right: 0;
    left: 0;
}

.p-lower-campaignCard__body{
    padding-top: rem(8);
    padding-right: rem(16);
    padding-left: rem(16);
    padding-bottom: rem(24);
    flex-grow: 1;
    @include mq(md){
        padding: rem(24);
    }
}

.p-lower-campaignCard__text {
    font-size: rem(14);
    text-align: center;
    line-height: calc(24/14);
    @include mq(md){
        font-size: rem(16);
    }
}

.p-lower-campaignCard__price {
    text-align: center;
    display: flex;
    gap: rem(16);
    line-height: 1;
    align-items: flex-end;
    justify-content: center;
    margin-top: rem(8);
    flex-grow: 1;
    font-family: $english-second-font-family;
    font-weight: $bold;
    @include mq(md){
        gap: rem(24);
        margin-top: rem(5);
    }
}

.p-lower-campaignCard__originalPrice {
    font-size: rem(20);
    position: relative;
    @include mq(md){
        font-size: rem(24);
    }
}

.p-lower-campaignCard__originalPrice::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color:$red ;
    top: 50%;
    left: 0;
    right: 0;
}

.p-lower-campaignCard__newPrice {
    font-size: rem(32);
    color: $green;
    @include mq(md){
        font-size: rem(40);
    }
}
.p-lower-campaignCard__bottom {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 40px;
    margin-top: auto;
}

.p-lower-campaignCard__details {
    line-height: calc(24/16);
    margin-top: rem(24);
}

.p-lower-campaignCard__contactDate {
    color: $green;
    font-family: $english-second-font-family;
    font-weight: $bold;
    line-height: calc(18/16);
    margin-top: rem(8);
    text-align: center;
}

.p-lower-campaignCard__contactText {
    font-size: rem(14);
    line-height: calc(18/14);
    margin-top: rem(7);
    color: $green;
    text-align: center;
}

.p-lower-campaignCard__btn {
    margin-top: rem(13);
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(md){
        margin-top: rem(16);
        padding-bottom: rem(3);
    }
}