@use "global" as *;

.p-lower-singleBlog{
    position: relative;
}

.p-lower-singleBlog time{
    font-family: $english-font-family;
    font-size: rem(14);
}

.p-lower-singleBlog h2{
    font-size: rem(24);
    font-weight: 500;
    border-bottom: 1px solid $green;
    margin-top: rem(8);
    @include mq('md'){
        font-size: rem(32);
    }
}

.p-lower-singleBlog img{
    aspect-ratio: 345 / 231;
    width: 100%;
    object-fit: cover;

    @include mq('md'){
    aspect-ratio: 700 / 468;
    }
}

.p-lower-singleBlog img,
.p-lower-singleBlog p,
.p-lower-singleBlog nav{
    margin-top: rem(24);

    @include mq('md'){
        margin-top: rem(40);
    }
}

.p-lower-singleBlog ul{
    display: flex;
    gap: rem(9);
    margin-top: rem(4);
}