@use "global" as *;

.p-lower-singleBlog{
    position: relative;
}

.p-lower-singleBlog img{
    aspect-ratio: 345 / 231;
    width: 100%;
    height: inherit;
    object-fit: cover;

    @include mq('md'){
    aspect-ratio: 700 / 468;
    }
}

.p-lower-singleBlog img,
.p-lower-singleBlog p,
.p-lower-singleBlog nav{
    margin-top: rem(24);

    @include mq('md'){
        margin-top: rem(40);
    }
}

.p-lower-singleBlog ul li{
    margin-top: rem(4);
	background: url(../../assets/images/common/starfish-green.png) left rem(3) top rem(4) no-repeat;
    background-size: rem(18) auto;
    padding-left: rem(30);
}