@use "global" as *;

.p-lower-voiceCards {
	display: grid;
	gap: rem(40);
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    @include mq(md) {
        grid-template-columns: repeat(2,1fr);
        column-gap: rem(40);
        row-gap: rem(80);
    }
}

.p-lower-voiceCards__item{
    height: 100%;
}