@use "global" as *;

.p-lower-informationContents{
	width: 100%;
    position: relative;
}

.p-lower-informationContents__tab{
	display: flex;
	justify-content: center;
    gap: 6.2%;
    @include mq('md'){
        gap: 8.2%;
    }
}

.p-lower-informationContents__fish{
    position: absolute;
    left: clamp(rem(15), 50% - rem(250),50% - rem(250));
    top:rem(-24);
    z-index: -1;
    @include mq('md'){
        left: clamp(15px, 50% - rem(624),50% - rem(624));
        top:rem(-70);
    }
}


