@use "global" as *;

.p-lower-aboutusIntro{
    position: relative;
    @include mq('md'){
	}
}

.p-lower-aboutusIntro__fish{
	position: absolute;
    left: rem(15);
    top:rem(-24);
    z-index: -1;
    @include mq('md'){
        left: clamp(15px, 50% - rem(624),50% - rem(624));
        top:rem(-70);
    }
}