@use "global" as *;
.p-lower-aboutusGallery{
    position: relative;
}


.p-lower-aboutusGallery__title{
    text-align: center;
}

.p-lower-aboutusGallery__gallery{
    margin-top: rem(40);
    @include mq('md'){
        margin-top: rem(80);
    }
}

.p-lower-aboutusGallery__fish{
    position: absolute;
    right: clamp(rem(15), 50% - rem(670),50% - rem(670));
    top: rem(-80);
}
