@use "global" as *;

.p-lower-aboutusIntro{
	
	@include mq('md'){
	}
}


.p-lower-aboutusIntro__inner{
	position: relative;
	margin: 0 auto;
	max-width: rem(540);
	height: inherit;
	padding-right: $padding-sp;
	padding-left: $padding-sp;
	@include mq(md) {
		max-width: rem(1210);
		padding-right: $padding-pc;
		padding-left: $padding-pc;
	}
}

.p-lower-aboutusIntro__fish{
	position: absolute;
	top:rem(-24);
	width: rem(120);
	z-index: map-get($layer, "default") + 1;
	left:calc(50% + rem(-300));

	@media (max-width: rem(768)) {
		left:5%;
	}


	@include mq('md'){
		top: rem(-70);
		left: rem(-80);
		width: rem(301);
		z-index: map-get($layer, "default")-1 ;
		left:calc(50% + rem(-610));

		@media (max-width: rem(1210)) {
			left: calc(50% + rem(-580));
		}
		@media (max-width: rem(1150)) {
			left: calc(50% + rem(-540));
		}
	}

}