@use "global" as *;

.p-lower-aboutusIntro{
	
	@include mq('md'){
	}
}


.p-lower-aboutusIntro__inner{
	position: relative;
	margin: 0 auto;
	max-width: rem(540);
	height: inherit;
	padding-right: $padding-sp;
	padding-left: $padding-sp;
	@include mq(md) {
		max-width: rem(1210);
		padding-right: $padding-pc;
		padding-left: $padding-pc;
	}
}

.p-lower-aboutusIntro__fish{
	position: absolute;
    left: calc(50% - rem(624));
    z-index: -1;
    top:rem(-70);
    @media (max-width: rem(1280)) {
        left: rem(25);
        top: rem(-70);
    }
    @media (max-width: rem(768)) {
        left: rem(15);
        top: rem(-24);
    }

}