@use "global" as *;

.p-lower-informationContents{
	width: 100%;
    position: relative;
}

.p-lower-informationContents__tab{
	display: flex;
	justify-content: center;
    gap: 6.2%;
    @include mq('md'){
        gap: 8.2%;
    }
}

.p-lower-informationContents__fish{
    position: absolute;
    left: calc(50% - min(48%,rem(320)));
    top:rem(-24);
    z-index: -1;
    @include mq('md'){
        left: calc(50% - min(48%,rem(624)));
        top:rem(-70);
    }
}


