@use "global" as *;

.p-lower-aboutusIntro{
    position: relative;

}

.p-lower-aboutusIntro__fish{
	position: absolute;
    left: calc(50% - min(48%,rem(320)));
    top:rem(-24);
    z-index: -1;
    @include mq('md'){
        left: calc(50% - min(48%,rem(624)));
        top:rem(-70);
    }
}