@use "global" as *;

.p-main-view {
  height: 100vh;
  width: 100%;
  position: relative;
}

.p-main-view__inner {
  width: 100%;
  height: inherit;
}

.p-main-view__slider,
.swiper-slide picture,
.slide-img,
.swiper-slide img {
  height: inherit;
}

.p-campaign-section__swiper,
.swiper,
.swiper-initialized,
.swiper-horizontal,
.swiper-android,
.swiper-backface-hidden {
  padding-bottom: 0;
}

.p-main-view__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  @include mq(md) {
    top: 46.875%;
    transform: translateX(-50%);
  }
}