@use "global" as *;

.p-pagePrice-section__inner {
    position: relative;
}

.p-pagePrice-section__content {
    width: 100%;
    max-width: rem(700);
    margin: auto;
}

.p-pagePrice-section__fish {
    position: absolute;
    left: calc(50% - rem(624));
    z-index: -1;
    top:rem(-70);
    @media (max-width: 1280px) {
        left: rem(25);
        top: rem(-70);
    }
    @media (max-width: 768px) {
        left: rem(15);
        top: rem(-24);
    }
}