@use "global" as *;

.p-price-content {
    margin-top: rem(38);

    @include mq(md) {
        &:first-child{
            margin-top: 0;
        }
    }
}

.p-price-content__title {
    font-weight: $bold;
    line-height: calc(24/16);
}

.p-price-content__lists {
    border-top: 1px solid $green;
    margin-top: rem(3);
}

.p-price-content__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: calc(24/14);
    font-size: rem(14);
    margin-top: rem(5);
    @include mq(md){
        font-size: rem(16);
    }
}