@use "global" as *;

.p-sidebar-archive__lists {
  margin-top: rem(24);
  color: $green;
  font-size: rem(24);
  line-height: calc(35 / 24);
}

.p-sidebar-archive__yearList:not(:first-child) {
  margin-top: rem(4);
}
.p-sidebar-archive__yearList {
  position: relative;
  padding-left: rem(24);
  cursor: pointer;
}

.p-sidebar-archive__monthLists {
  margin-left: rem(24);
  display: none;
}

.p-sidebar-archive__monthList {
  margin-top: rem(4);
  position: relative;
  padding-left: rem(24);
  display: block;
}

.p-sidebar-archive__yearList::before,
.p-sidebar-archive__yearList::after,
.p-sidebar-archive__monthList::before {
  position: absolute;
  content: "";
  height: 0;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
}

.p-sidebar-archive__yearList::before,
.p-sidebar-archive__monthList::before {
  border-bottom: rem(10) solid transparent;
  border-left: rem(16) solid $green;
  border-top: rem(10) solid transparent;
}

.p-sidebar-archive__yearList::after {
  border-left: rem(10) solid transparent;
  border-right: rem(10) solid transparent;
  border-top: rem(16) solid $green;
  display: none;
}

.p-sidebar-archive__yearList.is-open::before {
  display: none;
}

.p-sidebar-archive__yearList.is-open::after {
  display: block;
}
