@use "global" as *;
.p-single-container{
    position: relative;

}

.p-single-section{
    //position: relative;
}


.p-single-section__inner {
}

.p-single-section__pagination {
    margin-top: rem(40);
    @include mq('md'){
        margin-top: rem(76);
    }
}
