@use "global" as *;

.p-sidebar-review__content {
    margin-top: rem(24);
    width: 100%;
}

.p-sidebar-review__img {
    aspect-ratio: 121/90;
    overflow: hidden;
}

.p-sidebar-review__img img{
    height: 100%;
    object-fit: cover;
}

.p-sidebar-review__age {
    margin-top: rem(14);
    font-size: rem(12);
    line-height: calc(18/12);
    @include mq('md'){
        margin-top: rem(16);
        letter-spacing: -0.03em;
    }

}

.p-sidebar-review__articleTitle{
font-size: rem(24);
font-weight: $medium;
margin-top: rem(8);
}

.p-sidebar-review__btn {
    margin-top: rem(44);
    display: flex;
    justify-content: center;
    align-items: center;
}

