@use "global" as *;

.p-sidebar {
    margin-left: auto;
    width: 100%;
    // max-width: rem(294);
}


.p-sidebar__popularArticle{
    margin-top: rem(81);
    @include mq('md'){
        margin-top: rem(148);
    }
}

.p-sidebar__review,
.p-sidebar__campaign,
.p-sidebar__archive {
    margin-top: rem(81);
    @include mq('md'){
        margin-top: rem(81);
    }
}


