@use "global" as *;

.p-single-container{
    position: relative;

}

.p-single-container__fish {
    position: absolute;
    left: calc(50% - min(48%,rem(320)));
    z-index: -1;
    top:rem(-24);

    @include mq('md'){
        left: calc(50% - min(48%,rem(624)));
        top:rem(-70);
    }
}
