@use "global" as *;

.p-thanksPage-section{
    position: relative;
}

.p-thanksPage-section__inner {
    max-width: rem(850);
    width: 100%;
    margin: auto;
}

.p-thanksPage-section__wraper{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: rem(800);
    text-align: center;
    line-height: 1.45;
}

.p-thanksPage-section__fish{
    position: absolute;
    left: clamp(rem(15), 50% - rem(320),50% - rem(250));
    top:rem(-24);
    z-index: -1;
    @include mq('md'){
        left: clamp(rem(15), 50% - rem(624),50% - rem(624));
        top:rem(-70);
    }
}