@use "global" as *;

.p-terms-section{
    position: relative;
}

.p-terms-section__title {
    font-size: rem(24);
    font-weight: $medium;
    line-height: calc(35/24);
    @include mq(md){
        font-size: rem(32);
        line-height: calc(46/32);
    }
}

.p-terms-section__text{
    margin-top: rem(40);
    line-height: 2;

}

.p-terms-section__content {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: rem(800);
}

//ol,ulリスト
.p-terms-section__content ol,
.p-terms-section__content ul{
    list-style-position: inside;
}

.p-terms-section__content ul li{
    list-style-type: disc;
}

.p-terms-section__content ol li{
    counter-increment: number;
    list-style-type: decimal;
    padding-left:1em;
    text-indent:-1em;
}

.p-terms-section__fish{
    position: absolute;
    left: clamp(rem(15), 50% - rem(320),50% - rem(250));
    top:rem(-24);
    z-index: -1;
    @include mq('md'){
        left: clamp(rem(15), 50% - rem(624),50% - rem(624));
        top:rem(-70);
    }
}