@use "global" as *;


.p-terms-section__inner{
    position: relative;
}

.p-terms-section__title {
    font-size: rem(24);
    font-weight: $medium;
    @include mq(md){
        font-size: rem(32);
    }
}

.p-terms-section__group {
    margin-top: rem(40);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: rem(800);
}

.p-terms-section__content {
    line-height: 2;
}

.p-terms-section__content.p-terms-section__content--indent{
    padding-left:1em;
	text-indent:-1em;
}

.p-terms-section__fish {
    position: absolute;
    z-index: -1;
    left: rem(15);
    top: rem(-24);
    @include mq(md){
        left: rem(-195);
        top:rem(-70);
    }
}
