@use "global" as *;

.p-voice-section {
    position: relative;
}

.p-voice-section__title {
    text-align: center;
}

.p-voice-section__cards {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    margin-top: rem(41);
    margin-right: auto;
    margin-left: auto;
    @include mq(md){
        flex-direction: row;
        margin-top: rem(25);
    }
}
.p-voice-section-card{
    height: 100%;
}

.p-voice-section__btn {
    margin-top: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: rem(3);
    @include mq(md){
        margin-top: rem(80);
    }
}

.p-voice-section__fish {
    position: absolute;
    z-index: -1;
    left: calc(50% - min(48%,rem(624)));
    top:rem(-122);
}

.p-voice-section__seahorse {
    position: absolute;
    right: calc(50% - min(48%,rem(542)));
    bottom: rem(-67);
}


