<section class="p-404-section">
    <div class="l-inner l-breadcrumb">
        <%- include(ejsPath + './component/_c-breadcrumb', { breadcrumbs: [ {title: "404", url: "", color: "white" } ] }); %>
    </div>
    <div class="p-404-section__inner l-inner">
        <h1 class="p-404-section__title">404</h1>
        <div class="p-404-section__text">
            申し訳ありません。<br>
            お探しのページが見つかりません。
        </div>
        <div class="p-404-section__btn">
            <%- include(ejsPath + './component/_c-btn',{type:"", link:"404",text:"Page&nbsp;Top", btn:"white" ,overlay:"white"} ) %>
        </div>
    </div>
</section>
