<div class="p-archive-voices-section">
  <div class="p-archive-voices-section__inner l-inner">
    <div class="p-archive-voices-section__category">
      <%- include(ejsPath + './project/_p-campaign-categories')%>
    </div>
    <div class="p-archive-voices-section__content">
      <%- include(ejsPath + './project/_p-lower-voiceCards' )%>
    </div>
    <div class="p-archive-voices-section__fish">
      <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
    </div>
  </div>
</div>
