<section class="p-aboutus-section">
    <div class="l-inner">
        <div class="p-aboutus-section__title">
            <%- include(ejsPath + './component/_c-title',{title__en:'about us', title__ja:'私たちについて', style:''})%> 
        </div>
        <div class="p-aboutus-section__main">
            <%- include(ejsPath + './project/_p-aboutus',{type:'top', page:''} ) %>
        </div>
    </div>
</section>