<% const pageStyle = ['lower'];%>
<% const pageClass = pageStyle.includes(page) ? `p-aboutus--${page}` : ''; %>

<div class="p-aboutus <%= pageClass %>">
  <div class="p-aboutus__images">
    <% if (type === 'top') { %>
      <img src="../../../assets/images/common/aboutus-all.jpg" alt="左側に青空の下のシーサーの写真、その画像に少し重なり、青い海を泳ぐ２匹の黄色い魚の写真が並ぶ">

    <% } else { %>
      <picture>
        <source
          srcset="../../assets/images/common/aboutus-all.jpg"
          media="(min-width:768px)"
          alt="青空の下、赤い屋根の上に佇むシーサー像の写真"
        />
        <img
          src="../../assets/images/common/aboutus2.jpg"
          alt="青い海の中を泳ぐ２匹の黄色い魚の写真"
        />
      </picture>
    <% } %>
  </div>
  <div class="p-aboutus__cont">
    <div class="p-aboutus__left">
      dive&nbsp;<span>into&nbsp;<br/>the&nbsp;</span>ocean
    </div>
    <div class="p-aboutus__right">
      <p class="p-aboutus__text">
        ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br/>
        ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト
      </p>
      <% if (type === 'top') { %>
      <div class="p-aboutus__btn">
        <%- include(ejsPath + './component/_c-btn',{link:"",text:"View more",
        btn:"", overlay:""} ) %>
      </div>
      <% } else { %> <% } %>
    </div>
  </div>
</div>

