<div class="p-archiveVoices-section">
    <div class="p-archiveVoices-section__inner l-inner">
      <div class="p-archiveVoices-section__category">
        <%- include(ejsPath + './project/_p-campaign-categories')%>
      </div>
      <div class="p-archiveVoices-section__content">
        <%- include(ejsPath + './project/_p-lower-voiceCards' )%>
      </div>
      <div class="p-archiveVoices-section__pagination">
        <%- include(ejsPath + './component/_c-pagination') %>
      </div>
      <div class="p-archiveVoices-section__fish">
        <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
      </div>
    </div>
  </div>