
<%
let cardContent = [
  {i: 'blog1', alt:'ピンク色の珊瑚の写真', dt: '2023-11-17', d: '2023.11/17', title: 'ライセンス取得', text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキスト'},
  {i: 'blog2', alt:'青い海を泳ぐ亀の写真', dt: '2023-11-17', d: '2023.11/17', title: 'ウミガメと泳ぐ', text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキスト'},
  {i: 'blog3', alt:'イソギンチャクの中から顔を出すクマノミの写真', dt: '2023-11-17', d: '2023.11/17', title: 'カクレクマノミ', text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキスト'},
];
%>


<ul class="p-blog-cards">
  <% cardContent.slice(0, 3).forEach(function(blogCard) { %>
    <li class="p-blog-cards__item">
      <%- include(ejsPath +  '/_p-blog-card', {
        i: blogCard.i,
        alt: blogCard.alt,
        dt: blogCard.dt,
        d: blogCard.d,
        title: blogCard.title,
        text: blogCard.text
        }) %>
    </li>
  <% }); %>
</ul>
