<%
let priceCardContent = [
  {image:'1', alt:'赤、青、黄等の小さな魚が海の中を泳いでいる', tag:'ライセンス講習', title:'ライセンス取得', text:'全部コミコミ(お一人様)' , originalPrice:'￥56,000', newPrice:'￥46,000'},
  {image:'2', alt:'海岸を出発し島に向かう二艘の船',  tag:'体験ダイビング', title:'貸切体験ダイビング', text:'全部コミコミ(お一人様)' , originalPrice:'￥24,000', newPrice:'￥18,000'},
  {image:'3', alt:'暗い水の中で光を放つクラゲ群',  tag:'体験ダイビング', title:'ナイトダイビング', text: '全部コミコミ(お一人様)', originalPrice:'￥10,000', newPrice:'￥8,000'},
  {image:'4', alt:'水上に顔を出し会話する4人のダイバー',  tag:'ファンダイビング', title:'貸切ファンダイビング', text:'全部コミコミ(お一人様)' , originalPrice:'￥20,000', newPrice:'￥16,000'},
  {image:'1', alt:'赤、青、黄等の小さな魚が海の中を泳いでいる',  tag:'ライセンス講習', title:'ライセンス取得', text:'全部コミコミ(お一人様)' , originalPrice:'￥56,000', newPrice:'￥46,000'},
  {image:'2', alt:'海岸を出発し島に向かう二艘の船',  tag:'体験ダイビング', title:'貸切体験ダイビング', text:'全部コミコミ(お一人様)' , originalPrice:'￥24,000', newPrice:'￥18,000'},
  {image:'3', alt:'暗い水の中で光を放つクラゲ群', tag:'体験ダイビング', title:'ナイトダイビング', text: '全部コミコミ(お一人様)', originalPrice:'￥10,000', newPrice:'￥8,000'},
  {image:'4', alt:'水上に顔を出し会話する4人のダイバ-',  tag:'ファンダイビング', title:'貸切ファンダイビング', text:'全部コミコミ(お一人様)' , originalPrice:'￥20,000', newPrice:'￥16,000'}
]
%>

<section class="p-campaign-section">
  <div class="p-campaign-section__inner l-inner">
    <div class="p-campaign-section__title">
      <%- include(ejsPath + './component/_c-title',{title__en:'campaign', title__ja:'キャンペーン', style:''})%>
    </div>

    <div class="p-campaign-section__wrapper">
      <div class="p-campaign-section__swiper js-campaign-swiper">
          <div class="swiper-wrapper">
            <% priceCardContent.forEach(function(one) { %>
              <div class="p-campaign-section__item  swiper-slide">
                <%- include(ejsPath + './project/_p-campaign-card', {
                  image: one.image,
                  alt: one.alt,
                  tag: one.tag,
                  title: one.title,
                  text: one.text,
                  originalPrice: one.originalPrice,
                  newPrice: one.newPrice,
                  }) %>
              </div>
              <% }); %>
            </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

    <div class="p-campaign-section__btn">
      <%- include(ejsPath + './component/_c-btn',{type:"", link:"archive-campaign",text:"View more", btn:"", overlay:""} ) %>
    </div>
  </div>
</section>
