<div class="detailPage-head">
    <div class="detailPage-head__inner">
        <div class="l-inner">
            <div class="detailPage-head__info">
                <time class="detailPage-head__date" datetime="2023-11-17">2023.11/17</time>
            </div>
            <h2 class="detailPage-head__title">ライセンス取得</h2>
        </div>
    </div>
    <div class="blogDetail-body">
        <div class="blogDetail-body__inner">
            <div class="l-inner">
                <div class="blogDetail-body__img">
                    <img src="./assets/images/common/blog1.jpg" alt="">
                </div>
                <div class="blogDetail-body__text">
                    ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
                </div>
                <div class="blogDetail-body__img">
                    <img src="./assets/images/common/blog1.jpg" alt="">
                </div>
                <div class="blogDetail-body__text">
                    ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
                </div>
                <div class="blogDetail-body__lists">
                    <div class="blogDetail-body__list">
                        <%- include(ejsPath + './component/_c-starfish' ,{ color: 'green' }) %>
                        <p>リスト１</p>
                    </div>
                    <div class="blogDetail-body__list">
                        <%- include(ejsPath + './component/_c-starfish' ,{ color: 'green' }) %>
                        <p>リスト２</p>
                    </div>
                    <div class="blogDetail-body__list">
                        <%- include(ejsPath + './component/_c-starfish' ,{ color: 'green' }) %>
                        <p>リスト３</p>
                    </div>
                </div>
                <div class="blogDetail-body__text">
                    ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
                </div>
            </div>
        </div>
    </div>
    <div class="p-detailPage__fish">
        <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
    </div>
</div>