
<div class="p-drawerTitle">
    <p class="p-drawerTitle__main"><%= main %></p>
    <ul class="p-drawerTitle__lists">
        <li class="p-drawerTitle__list"><%= first %></li>
        <li class="p-drawerTitle__list"><%= second %></li>
        <li class="p-drawerTitle__list"><%= third %></li>
    </ul>
</div>