<%
project = '.';

let leftContent = [
    {main: 'キャンペーン', first: 'ライセンス取得', second: '貸切体験ダイビング', third: 'ナイトダイビング'},
    {main: '私たちについて', first: '', second: '', third: ''},
    {main: 'ダイビング情報', first: 'ライセンス講習', second: '体験ダイビング', third: 'ファンダイビング'},
    {main: 'ブログ', first: '', second: '', third: ''},
]

let rightContent = [
    {main: 'お客様の声', first: '', second: '', third: ''},
    {main: '料金一覧', first: 'ライセンス講習', second: '体験ダイビング', third: 'ファンダイビング'},
    {main: 'よくある質問', first: '', second: '', third: ''},
    {main: 'プライバシーポリシー', first: '', second: '', third: ''},
    {main: '利用規約', first: '', second: '', third: ''},
    {main: 'お問い合わせ', first: '', second: '', third: ''},
]

%>

            <nav class="p-drawer js-drawer">
                <div class="p-drawer__container">
                    <ul class="p-drawer__leftItems"> <% leftContent.forEach(function(title) { %>
                    <li class="p-drawer__item">
                            <%- include(project + '/_p-drawerTitle', {
                                main: title.main,
                                first: title.first,
                                second: title.second,
                                third: title.third
                                }) %>
                    </li>
                    <% }); %>
                    </ul>
                    <ul class="p-drawer__rightItems"> <% rightContent.forEach(function(title) { %>
                    <li class="p-drawer__item">
                            <%- include(project + '/_p-drawerTitle', {
                                main: title.main,
                                first: title.first,
                                second: title.second,
                                third: title.third
                                }) %>
                    </li>
                    <% }); %>
                    </ul>
                </div>
            </nav>