
<div class="p-drawerTitle">
    <a class="p-drawerTitle__main"><%= main %></a>
    <% if (first || second || third) { %>
    <div class="p-drawerTitle__lists">
        <a class="p-drawerTitle__list" href=""><%= first %></a>
        <a class="p-drawerTitle__list" href=""><%= second %></a>
        <a class="p-drawerTitle__list" href=""><%= third %></a>
    </div>
    <% } %>
</div>