<div class="p-faq-box">
    <div class="p-faq-box__question js-accordion-question">
        <p class="p-faq-box__question-text"><%- textQ %></p>
    </div>
    <div class="p-faq-box__answer js-accordion-content">
        <p class="p-faq-box__answer-text"><%- textA %></p>
    </div>
</div>