<div class="p-first-view">
  <div class="p-first-view__container">
    <div class="p-first-view__title">
      <%- include(project + './component/_c-view-title',{ view: '' }) %>
    </div>
    <div class="p-first-view__btn">
      <%- include(ejsPath + './component/_c-btn',{link:"",text:"View more",
      btn:"", overlay:""} ) %>
    </div>
  </div>
</div>