<div class="p-faq-section">
  <div class="p-faq-section__inner l-inner">
    <div class="p-faq-section__content">
      <%- include(ejsPath + './project/_p-faq-boxes' )%>
    </div>
    <div class="p-faq-section__fish">
      <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
    </div>
  </div>
</div>