<%
project = '.';

let faqText = [
{textQ:'ここに質問が入ります。', textA: 'ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります' },
{textQ:'ここに質問が入ります。', textA: 'ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります' },
{textQ:'ここに質問が入ります。', textA: 'ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります' },
{textQ:'ここに質問が入ります。', textA: 'ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります' },
{textQ:'ここに質問が入ります。', textA: 'ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります' },
{textQ:'ここに質問が入ります。', textA: 'ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります' },
{textQ:'ここに質問が入ります。', textA: 'ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります' },
]
%>

<div class="p-faq-boxes">
    <ul class="p-faq-boxes__items">
            <% faqText.forEach(function(text) { %>
                <li class="p-faq-boxes__item js-accordion-item">
                    <%- include(ejsPath + './project/_p-faq-box' ,{
                        textQ: text.textQ,
                        textA: text.textA,
                        }) %>
                </li>
            <% }); %>
    </ul>
</div>