<div class="p-home-section">
    <div class="p-home-section__inner">
      <div class="p-home-section__content">
        <%- include(ejsPath + './project/_p-lower-blogCards' )%>
      </div>
      <div class="p-home-section__pagination">
      <%- include(ejsPath + './component/_c-pagination') %>
      </div>
      <div class="p-home-section__fish">
        <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
      </div>
    </div>
  </div>