<%
project = '.';

let voiceCard = [
{image:'1' , age:'20代(女性)', tag: 'ライセンス講習' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'2' , age:'30代(男性)', tag: 'ファンダイビング' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'3' , age:'30代(女性)', tag: '体験ダイビング' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'4' , age:'20代(女性)', tag: '体験ダイビング' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'5' , age:'30代(カップル)', tag: 'ファンダイビング' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'6' , age:'20代(女性)', tag: 'ライセンス講習' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
]
%>

<ul class="p-lower-voiceCards">
<% voiceCard.forEach(function(voice) { %>
    <li class="p-lower-voiceCards__item">
            <%- include(project +  '/_p-lower-voiceCard', {
                image: voice.image,
                age: voice.age,
                tag: voice.tag,
                title: voice.title,
                text: voice.text
            }) %>
    </li>
<% }) %>
</ul>