<div class="p-price-table">
    <div class="p-price-table__line u-mobile">
      <div class="p-price-table__title">
        <%= courseTitle %>
        <span></span>
      </div>
    </div>
    <div class="p-price-table__row u-desktop-flex">
      <div class="p-price-table__title"><%- courseTitle %></div>
      <div class="p-price-table__icon"></div>
    </div>
    <div class="p-price-table__content">
      <% courseContent.forEach(function(list) { %>
      <dl class="p-price-table__list">
        <dt class="p-price-table__listLeft"><%- course %></dt>
        <dd class="p-price-table__listRight"><%- price %></dd>
      </dl>
      <% }); %>
    </div>
  </div>