<div class="_p-lower-singleBlog">
  <div class="p-lower-singleBlog__info">
    <time class="p-lower-singleBlog__date" datetime="2023-11-17">2023.11/17
    </time>
  </div>
  <h2 class="p-lower-singleBlog__title">ライセンス取得</h2>
    <div class="p-lower-singleBlog__img">
      <img src="./assets/images/common/blog1.jpg" alt="" />
    </div>
    <div class="p-lower-singleBlog__text">
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    </div>
    <div class="p-lower-singleBlog__img">
      <img src="./assets/images/common/blog1.jpg" alt="" />
    </div>
    <div class="p-lower-singleBlog__text">
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    </div>
    <div class="p-lower-singleBlog__lists">
      <div class="p-lower-singleBlog__list">
        <%- include(ejsPath + './component/_c-starfish' ,{ color: 'green' }) %>
        <p>リスト１</p>
      </div>
      <div class="p-lower-singleBlog__list">
        <%- include(ejsPath + './component/_c-starfish' ,{ color: 'green' }) %>
        <p>リスト２</p>
      </div>
      <div class="p-lower-singleBlog__list">
        <%- include(ejsPath + './component/_c-starfish' ,{ color: 'green' }) %>
        <p>リスト３</p>
      </div>
    </div>
    <div class="p-lower-singleBlog__text">
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    </div>
</div>

