<div class="p-loading" id="loading">
  <div class="p-loading__title">
    <%- include(ejsPath + './component/_c-view-title',{ view: 'green' }) %>
  </div>
</div>
<div class="p-loading__splash">
  <div class="p-loading__leftImage"></div>
  <div class="p-loading__rightImage"></div>
</div>
