<%
let priceCardContent = [
  {image:'1', alt:'赤、青、黄等の小さな魚が海の中を泳いでいる', tag:'ライセンス講習', title:'ライセンス取得', text:'全部コミコミ(お一人様)' , originalPrice:'￥56,000', newPrice:'￥46,000',
  details:'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト',
  contactDate:'2023/6/1-9/30'},
  {image:'2', alt:'海岸を出発し島に向かう二艘の船', tag:'体験ダイビング', title:'貸切体験ダイビング', text:'全部コミコミ(お一人様)' , originalPrice:'￥24,000', newPrice:'￥18,000',
   details:'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト',
   contactDate:'2023/6/1-9/30'},
  {image:'3', alt:'暗い水の中で光るクラゲ群', tag:'体験ダイビング', title:'ナイトダイビング', text: '全部コミコミ(お一人様)', originalPrice:'￥10,000', newPrice:'￥8,000',
   details:'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト',
   contactDate:'2023/6/1-9/30'},
  {image:'4', alt:'水上に顔を出し会話する4人のダイバー', tag:'ファンダイビング', title:'貸切ファンダイビング', text:'全部コミコミ(お一人様)' , originalPrice:'￥20,000', newPrice:'￥16,000',
   details:'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト',
   contactDate:'2023/6/1-9/30'}
]
%>
<ul class="p-lower-campaignCards">
<% priceCardContent.forEach(function(one) { %>
    <li class="p-lower-campaignCards__item">
    <%- include(ejsPath + './project/_p-lower-campaignCard', {
        image: one.image,
        alt: one.alt,
        tag: one.tag,
        title: one.title,
        text: one.text,
        originalPrice: one.originalPrice,
        newPrice: one.newPrice,
        details: one.details,
        contactDate: one.contactDate,
        }) %>
    </li>
    <% }); %>
</ul>