<section class="p-lower-aboutusIntro">
    <div class="p-lower-aboutusIntro__inner l-inner">
            <div class="p-lower-aboutusIntro__fish">
                <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
            </div>
            <div class="p-lower-aboutusIntro__main">
                <%- include(ejsPath + './project/_p-aboutus',{type:'', page:'lower'} ) %>
            </div>
    </div>
</section>