<%
let voiceCard = [
{image:'1' , alt:'麦わら帽子をかぶり微笑む女性', age:'20代(女性)', tag: 'ライセンス講習' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'2' , alt:'笑顔でポーズをとる紺色の服を着た男性', age:'30代(男性)', tag: 'ファンダイビング' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'3' , alt:'並んで微笑む２人の女性', age:'30代(女性)', tag: '体験ダイビング' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'4' , alt:'笑顔でこちらを見ているロングヘアの女性', age:'20代(女性)', tag: '体験ダイビング' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'5' , alt:'ソファに座って腕を組み微笑む若いカップル', age:'30代(カップル)', tag: 'ファンダイビング' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
{image:'6' , alt:'左側に視線を向けて笑顔で話すお団子ヘアの女性', age:'20代(女性)', tag: 'ライセンス講習' , title: 'ここにタイトルが入ります。ここにタイトル' ,
text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' },
]
%>

<ul class="p-lower-voiceCards">
<% voiceCard.forEach(function(voice) { %>
    <li class="p-lower-voiceCards__item">
            <%- include(ejsPath +  '/_p-lower-voiceCard', {
                image: voice.image,
                alt: voice.alt,
                age: voice.age,
                tag: voice.tag,
                title: voice.title,
                text: voice.text
            }) %>
    </li>
<% }) %>
</ul>