<section class="p-lower-aboutusGallery">
    <div class="p-lower-aboutusGallery_inner l-inner">
        <div class="p-lower-aboutusGallery__title">
            <%- include(ejsPath + './component/_c-title',{title__en:'gallery', title__ja:'フォト', style:''})%>
        </div>
        <div class="p-lower-aboutusGallery__gallery">
            <%- include(ejsPath + './project/_p-lower-gallery' )%>
        </div>
        <div class="p-lower-aboutusGallery__fish u-desktop">
            <%- include(ejsPath + './component/_c-img-fish' ,{ style: '' }) %>
        </div>
    </div>
</section>