<% const mainViewAlt = [
  { alt: '美しい海の中を泳ぐウミガメ' },
  { alt: '海を泳ぐウミガメと二人のダイバーを下から見ている' },
  { alt: '海に浮かぶ船３艘と島' },
  { alt: '砂浜とコバルトブルーの海' }
]; %>

<div class="p-main-view">
  <div class="p-main-view__inner">
    <div class="p-main-view__slider swiper js-main-swiper">
      <div class="swiper-wrapper">
        <% for (let i = 1; i <= 4; i++) { %>
        <div class="swiper-slide">
          <div class="slide-img">
            <picture>
              <source
                srcset="
                ./assets/images/common/main-view_<%- i %>.jpg"
                media="(min-width:1024px)">
              <img
                src="
                ./assets/images/common/main-viewSP_<%- i %>.jpg"
                alt="<%= mainViewAlt[i - 1].alt %>">
            </picture>
          </div>
        </div>
        <% } %>
      </div>
      <div class="p-main-view__title">
        <%- include(ejsPath + './component/_c-view-title',{ view: '' }) %>
      </div>
    </div>
  </div>
</div>