<div class="p-main-view">
  <div class="p-main-view__inner">
    <div class="p-main-view__slider swiper js-main-swiper">
      <div class="swiper-wrapper">
        <% for (let i = 1; i <= 4; i++) { %>
        <div class="swiper-slide">
          <div class="slide-img">
            <picture>
              <source
                srcset="../../assets/images/common/main-view_<%- i %>.jpg"
                media="(min-width:1024px)"
                alt=""
              />
              <img
                src="../../assets/images/common/main-viewSP_<%- i %>.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
        <% } %>
      </div>
      <div class="p-main-view__title">
        <%- include(ejsPath + './component/_c-view-title',{ view: '' }) %>
      </div>
    </div>
  </div>
</div>

