<div class="p-page-price-section">
    <div class="p-page-price-section__inner l-inner">
      <div class="p-page-price-section__content">
        <%- include(ejsPath + './project/_p-lower-price' )%>
      </div>
      <div class="p-page-price-section__fish">
        <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
      </div>
    </div>
  </div>