<div class="_p-pagePrice-section">
    <div class="_p-pagePrice-section__inner l-inner">
      <div class="_p-pagePrice-section__content">
        <%- include(ejsPath + './project/_p-lower-price' )%>
      </div>
      <div class="_p-pagePrice-section__fish">
        <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
      </div>
    </div>
  </div>