<%
let titleContent = [
    {en: 'Campaign', ja: 'キャンペーン' , link:'archive-campaign'},
    {en: 'About us', ja: '私たちについて' , link:'page-about'},
    {en: 'Information', ja: 'ダイビング情報' , link:'page-diving-info'},
    {en: 'Blog', ja: 'ブログ' , link:'home'},
    {en: 'Voice', ja: 'お客様の声' , link:'archive-voices'},
    {en: 'Price', ja: '料金一覧' , link:'page-price'},
    {en: 'FAQ', ja: 'よくある質問' , link:'page-faq'},
    {en: 'Contact', ja: 'お問合せ' , link:'page-contact'},
]
%>


            <nav class="p-pc-nav  u-desktop">
                <ul class="p-pc-nav__items">
                    <% titleContent.forEach(function(title) { %>
                    <li class="p-pc-nav__item">
                        <a class="p-pc-nav__title" href="<%- title.link %>.html">
                            <p class="p-pc-nav__en-title"><%- title.en %></p>
                            <p class="p-pc-nav__ja-title"><%- title.ja %></p>
                            <span></span>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </nav>