<div class="p-sidebar-archive">
  <div class="p-sidebar-archive__title">
    <%- include(project + './component/_c-sidebar-title',{text:"アーカイブ"})%>
  </div>
  <div class="p-sidebar-archive__lists">
    <p class="p-sidebar-archive__yearList js-archive">2023</p>
    <div class="p-sidebar-archive__monthLists js-archive-lists">
      <a href="" class="p-sidebar-archive__monthList">3月</a>
      <a href="" class="p-sidebar-archive__monthList">2月</a>
      <a href="" class="p-sidebar-archive__monthList">1月</a>
    </div>
    <p class="p-sidebar-archive__yearList js-archive">2022</p>
  </div>
</div>