<div class="p-single-section">
    <div class="p-single-section__inner">
      <div class="p-single-section__content">
        <%- include(ejsPath + './project/_p-lower-singleBlog-info' )%> 
        <%- include(ejsPath + './project/_p-lower-singleBlog' )%>
      </div>
      <div class="p-single-section__pagination">
      <%- include(ejsPath + './component/_c-blog-pagination') %>
      </div>
    </div>
  </div>