<div class="p-sidebar-articleCard">
    <a class="p-sidebar-articleCard__link" href="#">
    <div class="p-sidebar-articleCard__inner">
        <div class="p-sidebar-articleCard__img">
            <img src="../../assets/images/common/blog<%- image %>.jpg" alt="">
        </div>
        <div class="p-sidebar-articleCard__body">
            <time datetime="<%- datetime %>" class="p-sidebar-articleCard__date"><%- date %></time>
            <div class="p-sidebar-articleCard__title"><%- title %></div>
        </div>
    </div>
    </a>
</div>