<div class="p-sidebar-campaign">
    <div class="p-sidebar-campaign__title">
      <%- include(ejsPath + './component/_c-sidebar-title',{text:"キャンペーン"})%>
    </div>
    <div class="p-sidebar-campaign__cards">
      <%- include(ejsPath + './project/_p-sidebar-campaignCards')%>
    </div>
    <div class="p-sidebar-campaign__btn">
      <%- include(ejsPath + './component/_c-btn',{type:"", link:"archive-campaign",text:"View more", btn:"", overlay:""} ) %>
    </div>
  </div>
  