<div class="p-sidebar-campaign">
    <div class="p-sidebar-campaign__title">
      <%- include(project +
      './component/_c-sidebar-title',{text:"キャンペーン"})%>
    </div>
    <div class="p-sidebar-campaign__cards">
      <%- include(project + './project/_p-sidebar-campaignCards')%>
    </div>
    <div class="p-sidebar-campaign__btn">
      <%- include(project + './component/_c-btn',{link:"",text:"View more",
      btn:"", overlay:""} ) %>
    </div>
  </div>