<div class="p-sidebar-review">
  <a class="p-sidebar-review__link" href="">
    <div class="p-sidebar-review__title">
      <%- include(ejsPath + './component/_c-sidebar-title',{text:"口コミ"})%>
    </div>
    <div class="p-sidebar-review__content">
      <div class="p-sidebar-review__img">
        <img src="../../assets/images/common/voice_side.jpg" alt="" />
      </div>
    </div>
    <div class="p-sidebar-review__age">30代(カップル)</div>
    <div class="p-sidebar-review__articleTitle">ここにタイトルが入ります。ここにタイトル</div>
  </a>
    <div class="p-sidebar-review__btn">
      <%- include(ejsPath + './component/_c-btn',{type:"", link:"",text:"View more", btn:"", overlay:""} ) %>
    </div>
  </div>