<div class="p-sidebar-archiveList">
    <p class="p-sidebar-archiveList__year js-archive"><%= year %></p>
        <div class="p-sidebar-archiveList__months js-archive-lists">
          <a href="" class="p-sidebar-archiveList__month"><%= month_1 %></a>
          <a href="" class="p-sidebar-archiveList__month"><%= month_2 %></a>
          <a href="" class="p-sidebar-archiveList__month"><%= month_3 %></a>
        </div>
      </div>