<aside class="p-sidebar">
  <div class="p-sidebar__popularArticle">
    <%- include(ejsPath + './project/_p-sidebar-popularArticle')%>
  </div>
  <div class="p-sidebar__review">
    <%- include(ejsPath + './project/_p-sidebar-review')%>
  </div>
  <div class="p-sidebar__campaign">
    <%- include(ejsPath + './project/_p-sidebar-campaign')%>
  </div>
  <div class="p-sidebar__archive">
    <%- include(ejsPath + './project/_p-sidebar-archive')%>
    </div>
  </div>
</aside>
