<div class="p-single-container">
    <div class="l-blog-container l-inner">
        <div class="p-single-container__fish">
            <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
          </div>
        <div class="l-content">
        <%- include(ejsPath + './project/_p-single-section' )%>
        </div>
        <div class="l-sidebar">
            <%- include(ejsPath + './project/_p-sidebar' )%>
        </div>
    </div>
</div>