<div class="p-sidebar-popularArticle">
    <div class="p-sidebar-popularArticle__title">
      <%- include(project +
      './component/_c-sidebar-title',{text:"人気記事"})%>
    </div>
    <div class="p-sidebar-popularArticle__cards">
      <%- include(project + './project/_p-sidebar-articleCards')%>
    </div>
  </div>