<div class="p-single-container">
    <div class="l-blog-container l-inner">
        <div class="l-content">
        <%- include(ejsPath + './project/_p-home-section' )%>
        </div>
        <div class="l-sidebar">
            <%- include(ejsPath + './project/_p-sidebar' )%>
        </div>
    </div>
</div>