<section class="p-sitemap">
    <div class="l-inner p-sitemap__inner">
        <div class="p-sitemap__contents">
            <%- include(ejsPath + './project/_p-contents', { section: 'sitemap', color: 'black' }) %>
        </div>
        <div class="p-sitemap__fish u-mobile">
			<%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
		</div>
    </div>
</section>