<%
let campaignCard = [
  {image:'1', title:'ライセンス取得', text:'全部コミコミ(お一人様)' , originalPrice:'￥56,000', newPrice:'￥46,000'},
  {image:'2', title:'貸切ファンダイビング', text:'全部コミコミ(お一人様)' , originalPrice:'￥20,000', newPrice:'￥16,000'}
]
%>

<ul class="p-sidebar-campaignCards">
    <% campaignCard.forEach(function(side) { %>
        <li class="p-sidebar-campaignCards__item">
        <%- include(project + './project/_p-sidebar-campaignCard', {
            image: side.image,
            title: side.title,
            text: side.text,
            originalPrice: side.originalPrice,
            newPrice: side.newPrice,
            }) %>
        </li>
        <% }); %>
</ul>