<div class="p-top-screen">
    <div class="p-top-screen__loading">
        <%- include(ejsPath+ './project/_p-loading' ) %>
    </div>
    <div class="p-top-screen__first-view">
        <%- include(ejsPath+ './project/_p-first-view' ) %>
    </div>
    <div class="p-top-screen__main-view">
        <%- include(ejsPath+ './project/_p-main-view' ) %>
    </div>
</div>