@use "global" as *;

.l-lower-head{
    margin-top: rem(50);
    @include mq('md'){
        margin-top: rem(147);
    }
}

.l-lower-head--sitemap{
    margin-top: rem(42);
    @include mq('md'){
        margin-top: rem(139);
    }
}