@use "global" as *;

.l-lower-head{
    margin-top: rem(50);
    @include mq('md'){
        margin-top: rem(147);
    }
}

.l-lower-head--contact{
    margin-top: 0;
    @include mq('md'){
        margin-top: rem(80);

    }
}