<div class="c-blog-pagination"  ontouchstart="">
  <div class="pagination">
  <nav class="navigation">
    <div class="nav-links">
      <a class="prev page-numbers" href="#"><span></span></a>
      <a class="next page-numbers" href="#"><span></span></a>
    </div>
  </nav>
  </div>
</div>