<!-- 有効な色のリストを定義 -->
<% const imageStyle = ['reverse', 'white']; %>

<!-- 有効な色が指定された場合、その色に応じたクラス名を生成。そうでなければ、空文字列を代入 -->
<% const styleClass = imageStyle.includes(style) ? ` c-img-fish--${style}` : ''; %>
<div class="c-img-fish<%= styleClass %>"></div>
