<% const logoStyle = ['green', 'large']; %>

<!-- 有効なスタイルが指定された場合、そのスタイルに応じたクラス名を生成。そうでなければ、空文字列を代入 -->
<% const logoClass = logoStyle.includes(logo) ? ` c-logo--${logo}` : ''; %>
    <div class="c-logo<%= logoClass %>"></div>
