<% const logoStyle = ['green', 'large']; %>

<% const logoClass = logoStyle.includes(logo) ? ` c-logo--${logo}` : ''; %>

<% if (pageData === 'top') { %>
    <% if (logoClass === '') { %>
      <h1 class="c-logo"></h1>
    <% } else { %>
      <div class="c-logo<%= logoClass %>"></div>
    <% } %>
  <% } else { %>
    <div class="c-logo<%= logoClass %>"></div>
  <% } %>