<div class="c-paginatuion wp-pagenavi">
    <a href="#" class="wp-pagenavi__prev"></a>
    <a href="#" class="wp-pagenavi__page is-change-color">1</a>
    <a href="#" class="wp-pagenavi__page">2</a>
    <a href="#" class="wp-pagenavi__page">3</a>
    <a href="#" class="wp-pagenavi__page">4</a>
    <a href="#" class="wp-pagenavi__page">5</a>
    <a href="#" class="wp-pagenavi__page">6</a>
    <a href="#" class="wp-pagenavi__next"></a>
  </div>
