<% const validStyle = ['white','large']; %>
<% const titleClass = validStyle.includes(style) ? ` c-title--${style}` : ''; %>

<div class="c-title<%- titleClass %>">
  <h2 class="c-title__en"><%= title__en %></h2>
  <p class="c-title__ja"><%= title__ja %></p>
</div>











