<% const viewTitle = ['green']; %>

<% const viewClass = viewTitle.includes(view) ? ` c-view-title--${view}` : ''; %>
<div class="c-view-title<%= viewClass %>">
    <h2 class="c-view-title__main">diving</h2>
    <p class="c-view-title__sub">into&ensp;the&ensp;ocean</p>
</div>